@font-face {
  font-family: "johnwick";
  src: url("../Fonts/missiondanger.ttf");
}

@font-face {
  font-family: "timer-johnwick";
  src: url("../Fonts/Open\ 24\ Display\ St.ttf");
}

@font-face {
  font-family: "roboto-font-johnwick";
  src: url("../Fonts/missiondanger.ttf");
}

/* * {
  margin: ;
} */

body {
  margin: 0;
  font-family: "roboto-font-johnwick";
  background-size: cover;
  background: url("../Img/background-John-Wick-purple.jpg");
  margin: 100px 0px;
}

/* HOMEPAGE */

#Homepage {
  display: block;
  margin: auto;
}

#Gamepage {
  display: none;
  margin-top: auto;
}

.game-name-homepage {
  font-family: "johnwick";
  font-size: 100px;
  text-align: center;
  color: greenyellow;
  padding-top: 100px;
}

#game-context-homepage {
  font-size: 60px;
  text-align: center;
  color: white;
  margin-bottom: 100px;
  /* ajouter un addEventListener pour agrandir le texte lorsque le curseur de la souris passe dessus */
}

#game-context-homepage span {
  color: greenyellow;
}

#form-homepage {
  padding-left: 700px;
}

.birth-date-text-homepage {
  text-align: center;
  color: white;
  background-color: black;
  font-size: large;
  margin: 10px 00px;
  padding: 3px;
}

.birth-date-text-homepage span {
  color: red;
}

.birth-date-input-homepage {
  text-align: center;
  background-color: white;
  color: black;
  font-size: large;
  font-weight: bolder;
  padding: 10px 55px;
}

.steam-logo {
  width: 50px 20px;
  height: 70px;
  display: flex;
  justify-content: center;
}

.enter-button-homepage {
  font-family: "johnwick";
  font-weight: bolder;
  /* background-color: black;
  color: greenyellow;
  font-size: larger;
  text-align: center; */
  /* width:  */
  background-color: black;
  color: greenyellow;
  font-size: 2rem;
  position: fixed;
  padding: 15px 50px;
  border-radius: 80px;
  margin: 65px 1250px;
  padding: 15px 0px;
  width: 300px;
  /* box-shadow: 5px 5px 0 rgba(151, 12, 251, 0.6); */
  /* ajouter un filtre qui empeche de lancer le jeu si la date de naissance dand 'l'input date' est < à 18ans */
}

/* GAMEPAGE */

/* Block de Pop-Up : rules / lose / win / gameover
*/

.pop-up-rules {
  background-color: rgba(0, 0, 0, 0.94);
  font-size: 1.8rem;
  font-stretch: extra-expanded;
  color: purple;
  text-align: center;
  position: fixed;
  width: 750px;
  height: 400px;
  margin: auto;
  padding: 120px 90px;
  border-radius: 15px;
  border: 4px solid purple;
}

.pop-up-rules h1 {
  color: greenyellow;
}

.pop-up-rules button {
  font-family: "johnwick";
  background-color: black;
  color: greenyellow;
  font-size: 2rem;
  padding: 15px 50px;
  border-radius: 80px;
}

#pop-up-win {
  position: absolute;
  top: 1000px;
  text-align: center;
  color: greenyellow;
  font-size: 3.2rem;
  background-color: rgba(0, 0, 0, 0.94);
  border: 5.5px solid greenyellow;
  height: 600px;
  width: 700px;
}

#pop-up-win button {
  font-family: "johnwick";
  background-color: black;
  color: greenyellow;
  font-size: 2rem;
  margin-top: 100px;
  padding: 15px 50px;
  border-radius: 80px;
}

#pop-up-lose {
  position: absolute;
  top: 1000px;
  text-align: center;
  color: red;
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.94);
  border: 8px solid red;
  height: 600px;
  width: 700px;
}

#pop-up-lose button {
  font-family: "johnwick";
  background-color: black;
  color: greenyellow;
  font-size: 2rem;
  margin-top: 35px;
  padding: 15px 50px;
  border-radius: 80px;
}

#pop-up-gameover {
  position: absolute;
  top: 1000px;
  text-align: center;
  color: red;
  font-size: 3rem;
  background: url("../Img/gameover-popup-explosion.gif");
  border: 8px solid red;
  height: 600px;
  width: 700px;
}

#pop-up-gameover button {
  font-family: "johnwick";
  background-color: black;
  color: greenyellow;
  font-size: 2rem;
  margin-top: 40px;
  padding: 15px 50px;
  border-radius: 80px;
}

/* Block de titres */

.game-name-gamepage {
  font-family: "johnwick";
  font-size: 100px;
  text-align: center;
  color: greenyellow;
  padding-top: 100px;
}

.pick-right-card-text {
  text-align: center;
  color: white;
  font-size: 60px;
}

.pick-right-card-text span {
  color: greenyellow;
}

/* .pot-cards-background {
  background: rgba(116, 3, 157, 0.4);
  margin: 50px;
  padding: 80px 20px;
  height: 600px;
} */

/* Block de StartGame bouton + Timer */

#start-game {
  margin: 20px 430px;
  padding: 10px;
  text-align: center;
  font-size: 3rem;
}

.start-game-button {
  font-family: "johnwick";
  background-color: black;
  color: greenyellow;
  font-size: 2rem;
  padding: 15px 50px;
  border-radius: 80px;
  margin: auto;
}

#timer {
  font-family: "timer-johnwick";
  color: greenyellow;
  background: url("../Img/carte-pitbull.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* position: fixed; */
  margin: 40px 700px;
  padding: 20px;
  text-align: center;
  font-size: 3rem;
  font-weight: bolder;
  border: 5.5px solid greenyellow;
  width: 150px;
}

#card-reference {
  background: url("../Img/carte-pitbull.jpg");
  display: none;
}

/* Block de cartes à retourner */

#cards-game {
  background: rgba(0, 0, 0, 0.6);
  margin: 50px;
  padding: 80px 20px;
  height: 350px;
  display: flex;
  justify-content: space-around;
}

.card {
  display: inline-block;
  perspective: 300px;
  transform-style: preserve-3d;
  position: relative;
}

.card.turned {
  pointer-events: none;
}

.card.turned .front {
  transform: rotateY(0deg);
}

.card.turned .back {
  transform: rotateY(180deg);
}

.card .front,
.card .back {
  transition: transform 0.6s ease;
  width: 300px;
  height: 300px;
  margin: 10px;
  padding: 20px;
  font-size: 64px;
  background-size: contain;
  border: 4px solid white;
}

.card .front {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotateY(-180deg) translateZ(1px);
  backface-visibility: hidden;
  /* background: url("../Img/carte-mistere-john-wick.jpg"); */
}

.card .back {
  background-image: url("./../Img/carte-mistere.jpg");
  /* background: url("../Img/carte-chien-john-wick.jpg"); */
  /* background-size: contain;
  width: 25%;
  border: 4px solid white;
  display: none; */
}
/* 
.mistery-card-2-front {
  background: url("../Img/carte-mistere-john-wick.jpg");
  background-size: contain;
  width: 25%;
  border: 4px solid white;
  display: block;
}

.mistery-card-2-back {
  background: url("../Img/carte-chat-john-wick.jpg");
  background-size: contain;
  width: 25%;
  border: 4px solid white;
  display: none;
}

.mistery-card-3-front {
  background: url("../Img/carte-mistere-john-wick.jpg");
  background-size: contain;
  width: 25%;
  border: 4px solid white;
  display: block;
}

.mistery-card-3-back {
  background: url("../Img/carte-mechant-john-wick.jpg");
  background-size: contain;
  width: 25%;
  border: 4px solid white;
  display: none;
} */

/* #card-reference {
  background: url("../Img/carte-chien-john-wick.jpg");

  width: 360px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 620px;
  border: 4px solid white;
} */

/* .dog-card-reference {
  background: url("../carte-chien-john-wick.jpg");
} */
